body
{
    text-align: center;
}
#welcome {

}
#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}
h1 {
  
}

.line {

}
#contact iframe
{
  
}
.contact_1 h3
{
   
}
.contact_1 a
{
    
}


#videos iframe
{
    
}

.my_nav_bar
{
    
}
